<? /** @var \Application\Entity\User $entity */


?>
<fieldset class="fieldset">
    <legend>Contact gegevens</legend>
    <?
    if ($entity instanceof \Application\Entity\Medewerker):
    
        $entity->getGeboorteDatum() ? $geboorteDatumLabel=$entity->getGeboorteDatum()->format('d-m-Y') : $geboorteDatumLabel='';
    
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Adres', 'value' => $entity->getAdres()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Huisnummer', 'value' => $entity->getNummer()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Postcode', 'value' => $entity->getPostcode()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Woonplaats', 'value' => $entity->getWoonplaats()]);
        echo $this->partial('partials/view/view_label_cleartextvalue',
            ['label' => 'Geboorte datum', 'value' => $geboorteDatumLabel]);
        echo $this->partial('partials/view/view_label_cleartextvalue',
            ['label' => 'Huis telefoon', 'value' => $entity->getHuisTelefoon()]);
        echo $this->partial('partials/view/view_label_cleartextvalue',
            ['label' => 'Mobiele telefoon', 'value' => $entity->getMobielTelefoon()]);
    endif;
    if ($entity instanceof Relatie\Entity\ContactPersoon):
        /** @var Relatie\Entity\ContactPersoon $entity */
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Adres', 'value' => $entity->getFunctie()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Postcode', 'value' => $entity->getTelefoon()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Woonplaats', 'value' => $entity->getMobiel()]);
    endif; ?>
</fieldset>





