<? /** @var Application\Entity\Medewerker $entity */ ?>
<fieldset class="fieldset">
    <legend>Handtekening</legend>
    <?= $this->partial('partials/view/view_handtekening_image', ['entity' => $entity]) ?>
</fieldset>


