<? /** @var \Application\Entity\User $entity */ ?>
<fieldset class="fieldset">
    <legend>Algemene info</legend>
    <?
    if ($entity instanceof \Application\Entity\User):
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Voornaam', 'value' => $entity->getVoornaam()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Achternaam', 'value' => $entity->getAchternaam()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Email', 'value' => $entity->getEmail()]);
    endif;
    
    if ($entity instanceof \Relatie\Entity\ContactPersoon):
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Functie', 'value' => $entity->getVoornaam()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Telefoon', 'value' => $entity->getAchternaam()]);
        echo $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Mobiel', 'value' => $entity->getEmail()]);
    endif;
    
    ?>
</fieldset>





