<? /** @var Application\Entity\Medewerker $entity */
/** @var \CirclicalUser\Service\AccessService $accessService */
$accessService = $this->FetchAccessService();
if ($entity->getGeboorteDatum() instanceof DateTime): $geboorteDatumLabel = $entity->getGeboorteDatum()->format('d-m-Y');
else: $geboorteDatumLabel = ''; endif;
if ($entity->getIndiensttredingDatum() instanceof DateTime): $indienstDatumLabel = $entity->getIndiensttredingDatum()->format('d-m-Y');
else: $indienstDatumLabel = ''; endif;
$userRolesLabel = '';
foreach ($entity->getRoles() as $role) {
    $userRolesLabel .= ' ' . $role->getName() . ' ';
}
?>
<fieldset class="fieldset">
    <legend>Administratie</legend>
    <?= $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Indiensttreding datum', 'value' => $indienstDatumLabel]) ?>
    <?= $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Gebruiker rol', 'value' => $userRolesLabel]) ?>
    <?= $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'Geboorte datum', 'value' => $geboorteDatumLabel]) ?>
    <? if ($accessService->hasRoleWithName('Financieel')):
        echo $this->partial('partials/view/view_label_cleartextvalue', [
            'label' => 'Uurloon',
            'value' => money_format("%.2n", $entity->getFacturatieUurloon()) . ' &euro;',
        ]); endif; ?>
    <?= $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'BSN', 'value' => $entity->getSofiNummer()]) ?>
    <?= $this->partial('partials/view/view_label_cleartextvalue', ['label' => 'IBAN', 'value' => $entity->getIban()]) ?>
    <?= $this->partial('partials/view/view_label_cleartextvalue',
        ['label' => 'F-Gas registratie nummer', 'value' => $entity->getFGasRegistratieNummer()]) ?>
</fieldset>


