<?
/** @var string $css_selector */
/** @var  $label */
/** @var boolean $absolute */
?>
<div class="row"
    <?= $absolutePos = $absolute ? "style=\"position: absolute\" ":""; ?>
>
<div class="large-12 medium-12 small-12 row <?= $css_selector ?> " style="z-index: 10;">
    <div class="large-3 medium-3 small-4 columns" style="text-align: right;">
        <div>
            <button class="fa fa-refresh fa-spin fa-2x fa-fw size-120 " style="color: #25ccff"></button>
        </div>
    </div>
    <div class="large-9 medium-9 small-8 columns">
        <div style="vertical-align: bottom;">
            <span><h2><?= $label ?></h2></span>
        </div>
    </div>
</div>
</div>