<?
/** @var string $label */
/** @var DateTime $value */
?>
<td data-order="<?= $value->format('Y-m-d H:i') ?>" style="text-align: center">
    <span class="hide-for-large row">
        <span class=" medium-4 small-4" style="text-align: right">
            <?= $label ?>
        </span>
        <span class="medium-offset-1 medium-7 small-offset-1 small-7 ">
            <?= $value->format('d-m-Y') ?>
        </span>
    </span>
    <span class="show-for-large">
        <?= $value->format('d-m-Y') ?>
    </span>
</td>

