<?
/** @var string $label */
/** @var string $value */
/** @var string $dataOrder */
!empty($dataOrder)?$order = $dataOrder:$order = $value;
?>
<td data-order="<?= $order ?>">
<div class="row large-12 medium-12 small-12">
    <div class="medium-4 small-6 columns" style="text-align: right">
        <span class="hide-for-large text-right"
            style="text-align: right;padding-right: 0">
           <?= $label ?>
        </span>
    </div>
    <div
        class="  small-6  medium-4 medium-text-left  large-12 large-text-left columns">
        <?= $value ?>
    </div>
</div>
</td>