<?
/** @var string $label */
/** @var string $value */
?>
<td>
    <span class="hide-for-large row">
        <span class=" medium-4 small-4" style="text-align: right">
            <?= $label ?>
        </span>
        <span class="medium-offset-1 medium-7 small-offset-1 small-7 ">
            <a href="<?= $value; ?>" target="_blank"><?= $value; ?></a>
        </span>
    </span>
    <span class="show-for-large">
        <a href="<?= $value; ?>" target="_blank"><?= $value; ?></a>
    </span>
</td>


