<?
/** @var string $label */
/** @var string $value */
?>
<td class="hide-for-large">
    <span class="row">
        <span class=" medium-4 small-4" style="text-align: right">
            <?= $label ?>
        </span>
        <span class="medium-offset-1 medium-7 small-offset-1 small-7 ">
            <?= $value ?>
        </span>
    </span>
</td>
