<?
/** @var string $label */
/** @var  $value */
$value_label = '';
if ($value instanceof DateTime) {
    $value_label = $value->format('d-m-Y H:i');
}
?>
<td>
    <span class="hide-for-large row">
        <span class=" medium-4 small-4" style="text-align: right">
            <?= $label ?>
        </span>
        <span class="medium-offset-1 medium-7 small-offset-1 small-7 ">
            <?= $value_label ?>
        </span>
    </span>
    <span class="show-for-large">
        <?= $value_label ?>
    </span>
</td>
