<? /** @var Application\Entity\Medewerker $entity */ ?>
<div class="row large-12 medium-12 small-12 " style="display: block">
<div class="colomns large-12 medium-12 small-12 " style="display: block">
    <canvas
        style="border:3px solid black"
        data-unique-name="canvas"
        class="form-control pull-left formCanvas"
        height="250">
    </canvas>
</div>
</div>
<input
    type="hidden"
    value="<?= $entity->getHandtekening(); ?>"
    data-unique-name="canvasinput"
>
<script>
    (function (window, document, $, undefined) {
        $(function () {
            var $element = $('input[data-unique-name="canvasinput"]');
            var $canvas = $('canvas[data-unique-name="canvas"]');
            var canvas = $canvas.get(0);
            var context = canvas.getContext('2d');
    
    
            $(document).find('a[href="#HandtekeningTab"]').click();
            canvas.width = $canvas.parent().innerWidth();
            
            //draw image if one existed
            if ($element.val()) {
                var myImage = new Image();
                myImage.src = $element.val();
                myImage.onload = function () {
                    context.drawImage(myImage, 0, 0);
                };
            }
            $(document).find('a[href="#AlgemeneGegevensTab"]').click();
        });
    }(window, document, jQuery));
</script>
