<?
/** @var string $label */
/** @var  $value */
?>
<div class="row">
    <div class="row large-12 medium-12 small-12">
        <div class="large-offset-1 large-3 medium-4 small-5 columns">
            <label for="" class="text-right" style="padding-top: 0.2em;padding-bottom: 0.2em"><strong><?=  $label; ?></strong></label>
        </div>
        <div class="large-6  medium-8 small-7 columns">
            <label for="" class="text-left" style="padding-top: 0.2em;padding-bottom: 0.2em">
                <?=  $value; ?>
            </label>
        </div>
    </div>
</div>
