<?php /** @var Zend\Form\Element $element */ ?>
<div class="row large-12 medium-12 small-12">
        <div class=" large-2 medium-2  small-2 columns fa-2x SuccesFullModal"  style="display: none">
            <i class="fa fa-2x fa-check-square-o " aria-hidden="true" style="color:green;"></i>
        </div>

        <div class=" large-4 medium-4 small-4 columns SuccesFullModal" style="display:none">
            <span class="" ><h4>Bewerking voltooid</h4></span>
        </div>

        <div class="large-offset-6 large-3 medium-offset-4 medium-4  small-6 columns ModalCloseButton" >
            <i class="button expanded ModalCloseButton secondary hollow reveal-close" >Afsluiten</i>
        </div>
        <div class=" large-3 medium-4  small-6 columns" >
            <?= $this->formButton()->render($element); ?>
        </div>
</div>

