<?php /** @var Zend\Form\Element $element */ ?>
<?=  $this->formFileSessionProgress();?>
<div class="row large-12 medium-12 small-12">
    <div class=" large-3 medium-3 small-3 columns">
        <label for="" class="text-right middle"><?= $element->getLabel()?></label>
    </div>
    <div class="large-9  medium-9 small-9 columns">
        <label for="<?= $element->getAttribute('id')?>" class="button">Kies bestand</label>
        <?= $this->formElement()->render($element); ?>
        <span class="form-error"><?= $this->formElementErrors($element); ?></span>
    </div>
</div>