<?php /** @var Zend\Form\Element\Date $element */?>
<div class="row">
    <div class="row large-12 medium-12 small-12">
        <div class="large-offset-1 large-2 medium-2 small-4 columns">
            <?= $this->FoundationFormLabelHelper($element) ?>
        </div>
        <div class="large-6  medium-9 small-8 columns">
            <?= $this->formDate()->render($element); ?>
            <span class="form-error"><?= $this->formElementErrors($element); ?></span>
        </div>
    </div>
</div>