<?php
/** @var DateTime $dateobject */
?>
<div class="row">
    <div class="row large-12 medium-12 small-12">
        <div class="large-offset-1 large-3 medium-4 small-4 columns">
            <label for="" class="text-right middle"><span><?= $label ?></span></label>
        </div>
        <div class="large-8  medium-8 small-8 columns">
            <?php $value = '';
            if($dateobject instanceof DateTime){
                $value = $dateobject->format('d-m-y'); } ?>
            <input type="text" value="<?= $value ?>" disabled>
        </div>
    </div>
</div>