<? /** @var string $title */
/** @var string $customSelector */
if (!isset($customSelector)):
    $customSelector = "SubmitButton";
endif;
?>
<div class="row">
    <div class="large-10 medium-9 small-10 columns ">
        <h2><?= $title ?></h2>
    </div>
    <div class="large-2 medium-3 small-2 columns" style="text-align: right">
        <button class="button hollow success <?= $customSelector ?> "><i class="fa  fa-floppy-o size-18" aria-hidden="true">
                <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Save</span></i>
        </button>
    </div>
</div>
<hr>