<?php /** @var Application\Entity\User  $userEntity */
/** @var CirclicalUser\Service\AccessService $accessService */
$accessService = $this->FetchAccessService();
$userEntity = $accessService->getUser();
?>
<div class="row">
    <div class="large-12 columns">
        <h3><?= $userEntity->getUserFullName() ?>
            <small style="padding-left: 20px">(<?= $userEntity->getRoles()[0]->getName() ?>)</small></h3>
    </div>
</div>
<?php $this->inlineScript()
    ->prependFile($this->basePath('js/dashboard/common.js'))
; ?>

