<? /** @var Application\Form\MedewerkerForm $entityForm */ ?>
    <div class="row">
        <div class="large-12 columns">
            <?= $this->partial('partials/headerbreadcrum', ['title' => 'Medewerker aanmaken']) ?>
            <?php $this->entityForm->prepare() ?>
            <?= $this->form()->openTag($entityForm); ?>
            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
                <li class="tabs-title is-active">
                    <a href="#AlgemeneGegevensTab">
                        <i class="fa fa-2x fa-address-card-o" aria-hidden="true" title="Algemene gegevens">
                            <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Algemene gegevens</span>
                        </i>
                    </a>
                </li>
            </ul>
            <div class="tabs-content" data-tabs-content="collapsing-tabs">
                <br>
                <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('roles')]) ?>
                <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('email')]) ?>
                <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('voornaam')]) ?>
                <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('achternaam')]) ?>
            </div>
            <?= $this->formHidden($entityForm->get('csrf')) ?>
            <?= $this->form()->closeTag(); ?>
            <div class="reveal" id="ModalMessage" data-reveal></div>
        </div>
    </div>
<? $this->inlineScript()
    ->prependFile($this->basePath('js/base/user_form.js'))
    ->prependFile($this->basePath('js/base/common.js'))
    ->prependFile($this->basePath('js/base/canvas.js'))
; ?>
<script>
    (function (window, document, $, undefined) {
        $(function () {
            // manual make role single select
            $('select[name="roles[]"]').attr('multiple',false)
        });
    }(window, document, jQuery));
</script>
