<div class="row">
    <div class="large-12 columns">
        <div class="clearfix">
            <div class="float-left">
                <h2>Medewerkers </h2>
            </div>
            <div class="small-1 columns right">
                <a class="button success" title="Medewerker toevoegen" href="<?= $this->url('medewerker/add') ?>"><i
                        class="fi-plus size-21"></i></a>
            </div>
            <h1></h1>
        </div>
        <hr>
        <table id="MedewerkersTable" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody>
                <? /** @var Application\Entity\Medewerker $medewerker */
                if (!empty($this->entities)) {
                    foreach ($this->entities as $medewerker) {
                        $roles = $medewerker->getRoles();
                        $role = $roles[0];
                        ?>
                        <tr>
                            <td><?= $role->getName(); ?></td>
                            <td><?= $medewerker->getEmail(); ?></td>
                            <td><?= $medewerker->getVoornaam(); ?></td>
                            <td><?= $medewerker->getAchternaam(); ?></td>
                            <td>
                                <div class="button-group">
                                    <a href="<?= $this->url('medewerker/edit', ['id' => $medewerker->getId()]) ?>" title="Muteren"
                                        class="button hollow warning "><i class="fi-pencil size-18"></i> </a>
                                    <a href="<?= $this->url('medewerker/delete', ['id' => $medewerker->getId()]) ?>" title="Verwijderen"
                                        class="button hollow alert "><i class="fi-trash size-18"></i> </a>
                                </div>
                            </td>
                        </tr>
                    <? };
                }; ?>
            </tbody>
        </table>
        <div class="reveal" id="ModalMessage" data-reveal></div>
    </div>
</div>

<script type="text/javascript">
    (function (window, document, $, undefined) {
        $(function () {
            $('#MedewerkersTable').dataTable({
                language: {
                    sLengthMenu: "Toon _MENU_"
                }
            });
        });
    }(window, document, jQuery));
</script>