<?  /** @var Dashboard\Entity\Medewerker $entity */ ?>
<div class="row">
    <div class="large-12 columns">
        <div class="clearfix">
            <div class="float-left">
                <h2>Medewerker bekijken </h2>
            </div>
        </div>
        <hr>
        <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
            <li class="tabs-title is-active">
                <a href="#AlgemeneGegevensTab">
                    <i class="fa fa-2x fa-address-card-o" aria-hidden="true" title="Algemene gegevens">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Algemene gegevens</span>
                    </i>
                </a>
            </li>
            <li class="tabs-title">
                <a href="#ContactGegevensTab">
                    <i class="fa fa-2x fa-envelope-open-o" aria-hidden="true" title="Contact gegevens">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Contact gegevens</span>
                    </i>
                </a>
            </li>
            <li class="tabs-title">
                <a href="#HandtekeningTab">
                    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true" title="Handtekening">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Handtekening</span>
                    </i>
                </a>
            </li>
        
            <li class="tabs-title">
                <a href="#PersoneelInfoTab">
                    <i class="fa fa-2x fa-address-book-o" aria-hidden="true" title="Administratie">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Administratie</span>
                    </i>
                </a>
            </li>
        </ul>
    
        <div class="tabs-content" data-tabs-content="collapsing-tabs">
            <?= $this->partial('partials/tab_panel_partial',
                [
                    'id' => 'AlgemeneGegevensTab',
                    'partial' => 'medewerker/partials/view/tab_algemene_info',
                    'partial_vars' => ['entity' => $entity],
                ]
            ) ?>
            <?= $this->partial('partials/tab_panel_partial',
                [
                    'id' => 'ContactGegevensTab',
                    'partial' => 'medewerker/view/tab_contact_gegevens',
                    'partial_vars' => ['entity' => $entity],
                ]
            ) ?>
            <?= $this->partial('partials/tab_panel_partial',
                [
                    'id' => 'HandtekeningTab',
                    'partial' => 'medewerker/partials/view/tab_handtekening',
                    'partial_vars' => ['entity' => $entity],
                ]
            ) ?>
            <?= $this->partial('partials/tab_panel_partial',
                [
                    'id' => 'PersoneelInfoTab',
                    'partial' => 'medewerker/partials/view/tab_personeel_info',
                    'partial_vars' => ['entity' => $entity],
                ]
            ) ?>
        </div>
    </div>
</div>
