<?= $this->doctype() ?>
<html lang="nl" class="no-js">
<head>
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendName('charset', 'utf-8')
        ->appendName('theme-color', '#ffffff')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ->appendHttpEquiv('Content-language', 'nl_NL')
        ->appendHttpEquiv('Content-type', 'text/html; charset=utf-8')
    ?>
    <?= $this->headTitle('Token Exchange Admin UI')->setSeparator(' - ')->setAutoEscape(false) ?>
    <?= $this
        ->headLink(['rel' => 'apple-touch-icon', 'sizes' => '180x180', 'href' => $this->basePath('img/apple-touch-icon.png')])
        ->headLink(['rel' => 'icon', 'type' => 'image/png', 'sizes' => '32x32', 'href' => $this->basePath('img/favicon-32x32.png')])
        ->headLink(['rel' => 'icon', 'type' => 'image/png', 'sizes' => '16x16', 'href' => $this->basePath('img/favicon-16x16.png')])
        ->headLink(['rel' => 'manifest', 'href' => $this->basePath('img/manifest.json')])
        ->headLink(['rel' => 'mask-icon', 'href' => $this->basePath('img/safari-pinned-tab.svg'), 'color' => '#5bbad5'])
        //TODO figure out how to compile these CSS files to one file @ gulp
        ->prependStylesheet($this->basePath('css/styles.css'))
        ->prependStylesheet($this->basePath('css/fullcalendar.min.css'))
        ->prependStylesheet($this->basePath('css/motion-ui.min.css'))
        ->prependStylesheet('https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css')
    ?>
</head>
<?= $this->inlineScript()
    ->prependFile($this->basePath('js/base/common.js'))
    ->prependFile($this->basePath('js/scripts.js')); ?>
<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <?= $this->partial('application/navigation/off-canvas-nav') ?>
    <div class="off-canvas-content" data-off-canvas-content>
        <div class="nav-bar">
            <div class="nav-bar-left">
                <ul class="menu">
                    <li style="padding-left: 5%">
                        <button class="offcanvas-trigger" type="button" data-open="offCanvasRight" style="padding :0.0rem">
                        <span class="offcanvas-trigger-text ">
                        <div id="HomeMenuButton">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="nav-bar-right">
                <h2><strong style="color: #d3531a">Token Exchange - Admin UI</strong></h2>
            </div>
            <div class="nav-bar-right">
                <a class="nav-bar-logo" href="">
<!--                    <img class="logo" src="/img/banner.png" style="width: 150px;height: 40px">-->
                </a>
            </div>
        </div>
        <body>
            <?= $this->content ?>
            <div class="reveal reveal-for-large" id="ModalMessage" data-reveal></div>
            <div class="reveal reveal-for-large large" id="XLModalMessage" data-reveal></div>
        </body>
    </div>
    </div>
    </div>
</body>
</html>
