<?php /** @var CirclicalUser\Entity\UserResetToken $token */ ?>
<style type="text/css">
    body,
    html,
    .body {
        background: #f3f3f3 !important;
    }

    .header {
        background: #f3f3f3;
    }

    .button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>
<container>
    <row class="header">
        <columns>
            <spacer size="16"></spacer>
            <h1 class="text-center">Token Exchange - Admin UI</h1>
        </columns>
    </row>
    <row>
        <columns>
            <spacer size="32"></spacer>
            <center><img src="<?= $this->serverUrl() ?>/img/banner.png"></center>
            <spacer size="16"></spacer>
            <h2 class="text-center">Wachtwoord instellen</h2>
            <spacer size="16"></spacer>
            <p class="text-center">U wordt uitgenodigd voor het aanmaken van een wachtwoord voor een gebruikersaccount
                systeem.</p>
            <a class="large expand button" href="<?= $this->serverUrl() . $this->url('passwordreset', ['token' => $token->getToken()]) ?>">Naar
                wachtwoord instellen</a>
            <hr/>
            <p>
                <small>U ontvangt deze mail omdat er een wachtwoord herstel is uitgevoerd op uw account</small>
            </p>
        </columns>
    </row>
    <spacer size="16"></spacer>
</container>