<?  /** @var Application\Form\AbstractForm $entityForm */ ?>
<div class="row">
    <div class="large-12 columns">
        <?= $this->partial('partials/headerbreadcrum',['title' => 'Rol aanmaken'])?>
        <?php $this->entityForm->prepare()?>
        <?= $this->form()->openTag($entityForm); ?>
        <?= $this->partial('form/partials/foundationelement',['element' => $entityForm->get('name')])?>
        <?= $this->partial('form/partials/foundationelement',['element' => $entityForm->get('parent')])?>
        <?= $this->formHidden($entityForm->get('csrf')) ?>
        <?=  $this->form()->closeTag(); ?>
    </div>
</div>
<? $this->inlineScript()->prependFile($this->basePath('js/base/common.js')); ?>