<?
/** @var Application\Form\AbstractForm $entityForm */
/** @var Zend\Form\Element\Select $sortedGuardRules */
/** @var Zend\Form\Element\Select $rolePermissions */
/** @var array $roleGuardRules */
/** @var array $parentPermissions */
/** @var boolean $hasParent */
$entityForm->setAttribute('onSubmit', 'addPermissionsToPost(event)')
?>
<div class="row">
    <div class="large-12 columns">
        <?= $this->partial('partials/headerbreadcrum',['title' => 'Rol '. $entityForm->get('name')->getValue() .' bewerken'])?>
        <?php $this->entityForm->prepare() ?>
        <?= $this->form()->openTag($entityForm); ?>
        <ul class="tabs " data-active-collapse="true" data-tabs id="collapsing-tabs">
            <li class="tabs-title is-active">
                <a href="#GegevensTab">
                    <i class="fa fa-2x fa-address-card-o" aria-hidden="true" title="Algemene gegevens">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Gegevens</span>
                    </i>
                </a>
            </li>
            <li class="tabs-title">
                <a href="#RolRechtenTab">
                    <i class="fa fa-2x fa-user-secret" aria-hidden="true" title="<?= $entityForm->get('name')->getValue() ?>rechten">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only"><?= $entityForm->get('name')->getValue() ?> rechten</span>
                    </i>
                </a>
            </li>
            <li class="tabs-title">
                <a href="#RechtenSelectorTab">
                    <i class="fa fa-2x fa-exchange" aria-hidden="true" title="Rechten">
                        <span style="padding-left: 5px" class="hide-for-medium-only hide-for-small-only">Rechten Selector</span>
                    </i>
                </a>
            </li>
        </ul>
        <div class="tabs-content" data-tabs-content="collapsing-tabs">
            <div class="tabs-panel is-active" id="GegevensTab">
                <p>
                    <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('name')]) ?>
                    <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('parent')]) ?>
                    <?= $this->partial('form/partials/foundationelement', ['element' => $entityForm->get('status_for_role')]) ?>
                </p>
            </div>
            <div class="tabs-panel" id="RolRechtenTab">
                <div class="row">
                    <span></span>
                    <div class="small-12 large-6 columns">
                        <h3>Toegewezen aan <?= $entityForm->get('name')->getValue() ?> rol</h3>
                        <h6>A2C configuratie</h6>
                        <hr>
                        <? foreach ($roleGuardRules as $roleGuardRule => $roleGuardRuleSpec) : ?>
                            <div><?= $roleGuardRule ?></div>
                        <? endforeach; ?>
                    </div>
                    <div class="small-12 large-6 columns">
                        <? if ($hasParent) : ?>
                            <h3>Geërfd rechten</h3>
                            <h6>van parent rollen</h6>
                            <hr>
                            <? foreach ($parentPermissions as $parentPermission => $parentPermissionSpec) : ?>
                                <div><?= $parentPermission ?></div>
                            <? endforeach; ?>
                        <? endif; ?>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="RechtenSelectorTab">
                <div class="row">
                    <div class="small-12 large-6 columns">
                        <h2>Rechten lijst</h2>
                        <label>
                            <input type="text" name="deniedFilter" placeholder="Filter" onkeyup="filter(this)" data-target="denied">
                        </label>
                        <?= $this->formelement($sortedGuardRules) ?>
                        <span id="deniedCount"></span>
                        <a href="#" onclick="addToAllowed(event)" class="button hollow expanded">Toevoegen <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="small-12 large-6 columns">
                        <h2>Toegewezen</h2>
                        <label>
                            <input type="text" name="allowedFilter" placeholder="Filter" onkeyup="filter(this)" data-target="allowed">
                        </label>
                        <?= $this->formelement($rolePermissions) ?>
                        <span id="allowedCount"></span>
                        <a href="#" onclick="removeFromAllowed(event)" class="button hollow expanded"><i class="fa fa-arrow-left" aria-hidden="true"></i> Verwijderen</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <?= $this->formHidden($entityForm->get('id')) ?>
        <?= $this->formHidden($entityForm->get('csrf')) ?>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>
<? $this->inlineScript()
    ->prependFile($this->basePath('js/base/common.js'))
    ->prependFile($this->basePath('js/beheer/gebruikers/role/common.js'))
; ?>

