<div class="row">
    <div class="large-12 columns">
        <div class="clearfix">
            <div class="float-left">
                <h2>Rollen </h2>
            </div>
            <div class="small-1 columns right">
                <a class="button hollow success" title="Medewerker toevoegen" href="<?= $this->url('rollen/add')?>"><i class="fi-plus size-21"></i> </a>
            </div>
            <h1></h1>
        </div>
        <hr>
        <table id="MedewerkersTable" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Rol id</th>
                    <th>Rol Naam</th>
                    <th>Bovenliggende rol</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody>
                <? /** @var CirclicalUser\Entity\Role $role */
                if (!empty($this->entities)) {
                    foreach ($this->entities as $role) { ?>
                        <tr>
                            <td><?= $role->getId(); ?></td>
                            <td><?= $role->getName(); ?></td>
                            <td>
                                <?php if(is_object($role->getParent())){?>
                                <?= $role->getParent()->getName(); ?>
                                <?php } else{?>
                                    Geen
                                <?php }?>
                            </td>
                            <td>
                                <div class="button-group">
                                    <a href="<?= $this->url('rollen/edit',['id' => $role->getId()])?>" title="Muteren" class="button hollow warning "><i class="fi-pencil size-21"></i> </a>
                                </div>
                            </td>
                        </tr>
                    <? };
                }; ?>
            </tbody>
        </table>
        <script type="text/javascript">
            $(function () {
                $('#MedewerkersTable').dataTable({
                    language: {
                        sLengthMenu: "Toon _MENU_"
                    },
                    "columns": [
                        null,
                        null,
                        null,
                        null
                    ]
                });
            });
        </script>
    </div>
</div>