<?  /** @var CirclicalUser\Entity\Role $entity */?>
<div class="row">
    <div class="large-12 columns">
        <div class="clearfix">
            <div class="float-left">
                <h2>Rol bekijk </h2>
            </div>
        </div>
        <hr>

        <?= $this->partial('form/partials/foundationshowtextelement',['label' => 'Rol Naam','value' => $entity->getName()])?>

        <?php
        if(is_object($entity->getParent())){$parent_value = $entity->getParent()->getName();}else{$parent_value = 'Geen';}
        echo $this->partial('form/partials/foundationshowtextelement',['label' => 'Bovenliggende rol ','value' => $parent_value]);
        ?>


        <script type="text/javascript">

            $(function() {
         
            });
            
        </script>
    </div>
</div>
