<?php
/** @var Zend\Form\Element\DateTimeSelect $dateTimeSelectElement */
?>
<fieldset class="fieldset">
    <legend><?= $dateTimeSelectElement->getLabel()?></legend>
    <div class="row">
        <div class="row large-12 medium-12 small-12">
            <div class="large-offset-1 large-2 medium-2 small-4 columns">
                <label for="<?= $dateTimeSelectElement->getAttribute('name')?>" class="text-right middle">Datum</label>
            </div>
            <div class="large-9  medium-9 small-8 columns">
                <?= $this->FormDateRowSelectHelper($dateTimeSelectElement); ?>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row large-12 medium-12 small-12">
            <div class="large-offset-1 large-2 medium-2 small-4 columns">
                <label for="<?= $dateTimeSelectElement->getAttribute('name')?>" class="text-right middle">Tijd</label>
            </div>
            <div class="large-9  medium-9 small-8 columns  TimeBlock" >
                <?= $this->FormTimeRowSelectHelper($dateTimeSelectElement); ?>
            </div>
        </div>
    </div>
</fieldset>