<? /** @var Application\Form\Element\Canvas $element */ ?>
<div class="row large-12 medium-12 small-12">
    <div class="large-3  medium-4  small-4 columns" >
        <i class="button secondary hollow "
            title="Reset handtekening"
            style="margin-bottom: 0px;margin-top: 0px"
            data-unique-name="canvasclear"
        >
            <i class="fa fa-repeat "></i>
        </i>
    </div>
</div>
<div class="row large-12 medium-12 small-12">
    <div class="columns large-12 medium-12 small-12" id="HandtekeningDiv">
        <canvas
            style="border:3px solid black;touch-action: none;"
            id="<?= $element->getName(); ?>[Canvas]"
            data-unique-name="canvas"
            class="form-control pull-left formCanvas"
            height="250"
        >
        </canvas>
    </div>
    <input
        type="hidden"
        name="<?= $element->getName(); ?>"
        value="<?= $element->getValue(); ?>"
        data-unique-name="canvasinput"
    >
</div>




