<?php
/** @var Zend\Form\Element $element */
/** @var string $label */
/** @var string $dataOrder */
!empty($dataOrder)?$order = ' data-order="'.$dataOrder.'"':$order = '';
?>
<td <?= $order ?>>
    <div class=" medium-12 small-12 hide-for-large" >
        <?= $label ?>
    </div>
    <div class="large-12  medium-12  small-12 ">
        <?= $this->formElement()->render($element); ?>
        <span class="form-error">
            <?= $this->formElementErrors($element); ?>
        </span>
    </div>
</td>