<?
/** @var Application\Form\AuthForm $entityForm */
/** @var string $authError */
?>
<h2 id="modalTitle">Inloggen</h2>
<hr>
<div class="row" style="position: absolute;width: 100%">
    <div class="large-12 medium-12 small-12 row LoginSubmitLoader " style="z-index: 10;text-align: center;display: none;">
        <div class="large-12 medium-12 small-12 columns " style="text-align: center;">
            <button class="fa fa-refresh fa-spin fa-2x fa-fw " style="color: #25ccff;font-size: 80px"></button>
        </div>
    </div>
</div>
<? if ($authError): ?>
    <div data-closable class="callout alert-callout-subtle alert">
        <strong>Onbekende gebruiker en/of wachtwoord</strong>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">⊗</span>
        </button>
    </div>
<? endif; ?>
<div data-closable class="callout alert-callout-subtle success ResetSucces" style="display: none">
    <strong>Wachtwoord herstel succesvol</strong>
    <p>Een wachtwoord herstel link is verstuurd naar <span class="HerstelEmailer"></span></p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">⊗</span>
    </button>
</div>
<div class="row LoginFormSection">
    <div class="large-12 columns">
        <?php $entityForm->prepare() ?>
        <?= $this->form()->openTag($entityForm); ?>
        <?= $this->partial('form/modal/modalformelement', ['element' => $entityForm->get('email')]) ?>
        <?= $this->partial('form/modal/modalformelement', ['element' => $entityForm->get('password')]) ?>
        <div class="row large-12 medium-12 small-12">
            <div class=" large-11 medium-11 small-11 columns text-right">
                <?= $this->FoundationFormLabelHelper($entityForm->get('vergeten')) ?>
            </div>
            <div class="large-1  medium-1 small-1 columns">
                <?= $this->formElement()->render($entityForm->get('vergeten')); ?>
            </div>
        </div>
        <?= $this->formHidden($entityForm->get('succes')) ?>
        <?= $this->formHidden($entityForm->get('csrf')) ?>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>
<div class="SuccesFullModal" style="display: none;">
    <div class="row large-12 medium-12 small-12 FinishedMessage">
        <div class=" large-3 medium-4  small-4 columns fa-2x">
            <i class="fa fa-2x fa-check-square-o SuccesFullModal" aria-hidden="true" style="color:green;"></i>
        </div>
        <div class=" large-9 medium-8  small-8 columns">
            <span><h4>Authenticatie succesvol</h4>
                <small>U wordt doorverwezen
                    <span style="padding-left: 10px"><i class="fa fa-refresh fa-spin fa-2x fa-fw " style="color:#25ccff;padding-left:"></i></span>
                </small>
            </span>
        </div>
    </div>
</div>
<hr>
<div class="row large-12 medium-12 small-12 align-right LoginPanelActionButtonRow">
    <div class=" large-6 medium-6  small-6 columns ModalCloseButton">
        <i class="button expanded ModalCloseButton secondary hollow reveal-close">Afsluiten</i>
    </div>
    <div class=" large-6 medium-6 small-6 columns DoActionButton">
        <i class="button expanded success hollow TryAuthentication">Inloggen</i>
    </div>
</div>

