<div class="row large-12 medium-12 small-12" style="position: absolute; z-index: 1;text-align: right">
    <div class="colomns large-12 medium-12 small-12 LoginContainer right-align">
        <div class="row large-2 medium-4 small-4 float-right" style="padding-top: 50px;margin-right: 10%;">
            <i class="button hollow expanded GetAuthForm">Inloggen</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 LoginContainer">
        <div class="reveal tiny" id="LoginPanel"
            data-reveal
            data-reset-on-close="true"
            data-animation-in="hinge-in-from-bottom"
            data-animation-out="hinge-out-from-bottom">
        </div>
    </div>
</div>
<? $this->inlineScript()->prependFile($this->basePath('js/base/login.js')); ?>
<script>
    (function (window, document, $, undefined) {
        $(function () {
            $('.nav-bar').css({"margin-bottom": "0px"});
        });
    }(window, document, jQuery));
</script>