<div class="row">
    <div class="large-12 LoginContainer">
        <div class="reveal tiny " id="LoginPanel"
            data-reveal
            data-reset-on-close="true"
            data-animation-in="hinge-in-from-bottom"
            data-animation-out="hinge-out-from-bottom">
        </div>
    </div>
</div>
<? $this->inlineScript()->prependFile($this->basePath('js/base/login.js')); ?>
<script>
    (function (window, document, $, undefined) {
        $(function () {
            $(A2C.GetLoginForm(),0);
        });
    }(window, document, jQuery));
</script>