<? /** @var string $token */  ?>
<div class="row">
    <div class="large-12 LoginContainer">
        <div class="reveal tiny " id="LoginPanel"
            data-reveal
            data-reset-on-close="true"
            data-animation-in="hinge-in-from-bottom"
            data-animation-out="hinge-out-from-bottom">
        </div>
    </div>
</div>
<input type="hidden" name="url_token" value="<?= $token ?>">
<? $this->inlineScript()->prependFile($this->basePath('js/base/reset.js')); ?>
