<?
/** @var \Zend\View\Renderer\PhpRenderer $viewModel */
/** @var \CirclicalUser\Service\AccessService $accessService */
$accessService = $this->FetchAccessService()
?>
<div class="off-canvas position-left" id="offCanvasRight" data-off-canvas data-transition="push">
    <? if
    ($accessService->hasUser()
    ) { ?>
        <br>
        <ul class="vertical menu" data-accordion-menu>
            <li>
                <a href="<?= $this->url('dashboard') ?>">
                    <i class="fa fa-2x fa-tachometer" aria-hidden="true"></i>
                    <span style="margin-left: 5px">Dashboard</span>
                </a>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li><a href="#"><i class="fa fa-2x fa-exchange" aria-hidden="true"></i><span
                        style="margin-left: 5px">Exchanges</span></a>
                <ul class="menu vertical nested">
                    <li>
                        <a href="<?= $this->url('exchange') ?>">
                            <i class="fa fa-gears" aria-hidden="true"></i>
                            <span >Trade Pairs</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?= $this->url('exchange-funds') ?>">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <span style="margin-left: 5px">Funds</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li><a href="#"><i class="fa fa-2x fa-line-chart" aria-hidden="true"></i><span
                        style="margin-left: 5px">Trades</span></a>
                <ul class="menu vertical nested">
                    <li>
                        <a href="<?= $this->url('trade/buy') ?>">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color: green"></i>
                            <span >Buy</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?= $this->url('trade/sell') ?>">
                            <i class="fa fa-thumbs-o-down" aria-hidden="true" style="color: red"></i>
                            <span style="margin-left: 5px">Sell</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <br>
        <br>
        <ul class="vertical menu" data-accordion-menu>
            <li><a href="<?= $this->url('medewerker') ?>"><i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i><span
                        style="margin-left: 5px">Users</span></a>
            </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ul class="vertical menu " data-accordion-menu>
            <?php
            /** @var Application\Entity\User $user */
            $user = $accessService->getUser();
            ?>
            <li><span><?= $user->getUserFullName() ?></span>
                <a href="<?= $this->url('logout') ?>" class="LogOutButton">
                    <i class="fa fa-2x fa-user-times" aria-hidden="true"></i>
                    <span style="margin-left: 5px">Logout</span>
                </a>
            </li>
        </ul>
    <? } else { ?>
        <ul class="vertical menu" data-accordion-menu>
            <li>
                <a class="GetAuthForm">
                    <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
                    <span style="margin-left: 5px">Login</span>
                </a>
            </li>
        </ul>
    <?php } // TODO get version number from git ?>
    <div style="position:relative;bottom: 0px;padding-bottom:15px;color:dodgerblue" title="A2C applicatie versie">
        <i class="fa  fa-code-fork" aria-hidden="true" style="color:dodgerblue"></i>
        <span style="margin-left: 5px; ">Versie <small>0.1.1</small></span>
    </div>
</div>